#App {
  position: relative;
  z-index: 0;
  background-color: rgb(14, 13, 13);
}
.hidden {
  display: none;
}

/****************/
/* ICONS */
/****************/
.icon {
  margin-right: 10px;
}

/****************/
/* MYLISTPAGE */
/****************/

.myListText {
  color: white;
  text-align: center;
}

.movie-card {
  text-align: center;
  border: grey solid 1px;
  padding: 1rem;
  width: 15rem;
  height: 25rem;
  display: inline-grid;
  margin: 1rem 2rem;
  box-shadow: 3px 4px red;
}

.card-movie-poster {
  justify-self: center;
  height: 22rem;
  width: auto;
}

/****************/
/* SEARCH BAR */
/****************/

.searchBar {
  text-align: center;
}
