#App {
  overflow-x: hidden;
}

/****************/
/* ICONS */
/****************/
.icon {
  margin-right: 10px;
}

/****************/
/* NAVBAR */
/****************/
#Navbar {
  padding-left: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  background-image: linear-gradient(
    to top,
    rgba(255, 0, 0, 0),
    rgba(0, 0, 0, 255)
  );
}
.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0 0 0 25px;
  color: white;
}
.logo {
  width: 90px;
}
.navbar-button {
  display: inline;
  padding-right: 1%;
  padding-left: 2%;
  font-size: 14px;
  position: relative;
  bottom: 9px;
}

.navbar-left {
  display: inline;
}
.navbar-right {
  display: inline;
  margin-left: 45%;
}

/****************/
/* HERO */
/****************/
#Hero {
  position: relative;
  z-index: -1;
  bottom: 25px;
  height: 100%;
  color: white;
}
.hero-image {
  height: 1300px;
  overflow-y: hidden;
  position: relative;
  bottom: 300px;
  z-index: -1;
}

.hero-text {
  position: absolute;
  top: 30%;
}
.hero-title {
  padding-left: 2%;
  font-size: 80px;
}
.hero-description {
  margin-right: 50%;
  padding-left: 3%;
  font-family: Arial, sans-serif;
}
.hero-popularity {
  padding-left: 3%;
}

.play-button {
  font-size: 25px;
  margin-left: 3%;
  margin-right: 1%;
  padding: 10px 40px 10px 40px;
  border-radius: 6px;
  font-family: Arial, sans-serif;
  background-color: white;
  border: none;
}
.play-button:hover {
  background-color: grey;
}
.more-info-button {
  font-size: 25px;
  background-color: rgb(46, 46, 46);
  color: white;
  font-family: Arial, sans-serif;
  padding: 10px 40px 10px 40px;
  border-radius: 6px;
  border: none;
}

/****************/
/* MOVIE POSTERS */
/****************/
.trending-container {
  display: flex;
  padding: 0 55px;
  height: 200px;
}
.trending-container:hover .movie-poster-img {
  transform: translateX(-25%);
}
.movie-poster-img:hover ~ .movie-poster {
  transform: translateX(25%);
}
.movie-poster-img:hover {
  transform: scale(1.5) !important;
}

.movie-poster-img {
  height: 200px;
  flex: 0 0 19.7%;
  text-align: center;
  margin: 0 2px;
  transition: transform 300ms ease 100ms;
}

/****************/
/* FOOTER */
/****************/

.footer-container {
  padding: 5% 20% 1% 20%;
  background-color: rgb(14, 13, 13);
  color: rgb(196, 196, 196);
}
.footer-icons {
  padding-left: 3%;
}
.footer-icon {
  font-size: 20px;
  padding: 0 10px 0 10px;
  color: rgb(196, 196, 196);
}
.footer-columns {
  padding-top: 2%;
  display: flex;
  list-style-type: none;
  line-height: 30px;
  font-weight: lighter;
}

.footer-column {
  padding-right: 10%;
  list-style-type: none;
}

.footer-btn {
  margin-top: 5%;
  margin-left: 3%;
  background-color: rgb(14, 13, 13);
  color: rgb(196, 196, 196);
  border-color: rgb(196, 196, 196);
  border: none;
  outline-width: 1px;
  outline-style: solid;
  outline-color: white;
  border-radius: 0%;
  padding: 7px 10px 7px 10px;
}
.footer-copyright {
  font-size: 11px;
  padding-left: 3%;
  padding-top: 2%;
}
